/* root styles */
:root {
  --font: "Comic Sans MS", "Comic Sans", cursive;
  --blue50: #e8f1fb;
  --blue100: #d1e3f6;
  --blue200: #a4c7ed;
  --blue300: #76abe5;
  --blue400: #498fdc;
  --blue500: #1b73d3; /* pie blue */
  --blue600: #165ca9;
  --blue700: #10457f;
  --blue800: #0b2e54;
  --blue900: #05172a;

  --gold50: #fef7eb;
  --gold100: #fdefd7;
  --gold200: #fbdfaf;
  --gold300: #fad087;
  --gold400: #f8c05f;
  --gold500: #f6b037; /* pie gold */
  --gold600: #c58d2c;
  --gold700: #946a21;
  --gold800: #624616;
  --gold900: #31230b;

  --grey50: #fafafa;
  --grey100: #f4f4f5;
  --grey200: #e4e4e7;
  --grey300: #d4d4d8;
  --grey400: #a1a1aa;
  --grey500: #71717a;
  --grey600: #52525b;
  --grey700: #3f3f46;
  --grey800: #27272a;
  --grey900: #18181b;

  --green100: #cce6cc;
  --green200: #99cc99;
  --green300: #66b366;
  --green400: #339933;
  --green500: #008000;
  --green600: #006600;
  --green700: #004d00;
  --green800: #003300;
  --green900: #001a00;

  --red100: #ffcccc;
  --red200: #ff9999;
  --red300: #ff6666;
  --red400: #ff3333;
  --red500: #ff0000;
  --red600: #cc0000;
  --red700: #990000;
  --red800: #660000;
  --red900: #330000;

  --black: #222;
  --white: #fff;
  --redLight: #f8d7da;
  --redDark: #842029;
  --greenLight: #d1e7dd;
  --greenDark: #0f5132;

  --shadow1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow3: 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --lightShadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --darkShadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  /* this is the background color */ 
  --boxyGoldShadow: 5px 5px 0px 0px var(--red600),

    inset 0px 0px 9px 5px rgba(0, 0, 0, 0);
  --boxyBlueShadow: 5px 5px 0px 0px var(--blue500),
    inset 0px 0px 9px 5px rgba(0, 0, 0, 0);

  --headingfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --bodyfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --border: 1px black solid;

  --borderRadius: 0.25rem;
  --transition: 0.25s ease-in-out all;

  --font-size: 175%;
  --text-stroke: 1.5px;
  --headerSize: 0.30;
  --scoreboardContentSize: 95%;
}

body {
  /* background-color: rgb(0, 0, 0); */
  background-image: url('../static/space-background.png');
  background-size: cover;
  background-position: center;
  font-family: var(--headingfont);
}

.scoreboard-outer-container {
  /* for debugging */
  /* border: solid 2px orange ;
  background-color: rgb(0, 0, 225); */

  width: 100%; /* just in case the projector screen is too big, change this */
  height: 100%; /* just in case the projector screen is too big, change this */

  display: block;
  margin: auto;

  font-size: var(--font-size); /* change later, affected by size of browser */
  font-weight: bold;
  color: white;
  -webkit-text-stroke: var(--text-stroke) black; /* change later, affected by size of browser */
}

.scoreboard-header-outer-container {
  /* for debugging */
  /* border: solid 2px white;
  background-color: rgb(0, 255, 0); */

  width: 100%;
  height: calc(var(--headerSize) * 100%); /* change later, represents height of entire header */

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.scoreboard-header-container {
  /* for debugging */
  /* border: solid 2px blueviolet ;
  background-color: rgb(255, 0, 0); */

  width: var(--scoreboardContentSize);
  height: 100%;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
  padding: 5px;
}

.alliance-container {
  /* for debugging */
  /* border: solid 2px green ;
  background-color: rgb(100, 200, 255); */

  width: 95%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-rows: 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
}

.robot-blue-container,
.robot-gold-container {
  /* for debugging */
  /* border: solid 2px yellow ;
  background-color: orange; */

  border-radius: 15px;

  display: flex;
  flex-direction: column;
}

.robot-blue-container {
  background-color: var(--blue500);
}

.robot-gold-container {
  background-color: var(--gold500);
}

.robot-text {
  /* for debugging */
  /* border: solid 2px red ;
  border-radius: 15px;
  background-color: rgb(195, 195, 195); */
  
  flex-grow: 1;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  /* for debugging */
  /* border: solid 2px green ;
  background-color: rgb(100, 200, 255); */

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
}

.timer-container,
.stage-container {
  /* for debugging */
  /* border: solid 2px yellow ; */

  background-color: rgb(195, 195, 195);

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-text,
.stage-text {
  /* for debugging */
  /* border: solid 2px orange ; */

  border-radius: 30px;
  background-color: white;

  padding-left: 20px; /* change later, affected by size of browser */
  padding-right: 20px; /* change later, affected by size of browser */

  font-weight: normal;
  color: black;
}

.stage-text {
  font-size: 90%;
}

.score-container {
  /* for debugging */
  /* border: solid 2px yellow ;
  background-color: rgb(195, 195, 195); */

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
}

.score-blue-container,
.score-gold-container {
  /* for debugging */
  /* border: solid 2px red ;
  background-color: rgb(195, 195, 195); */

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-blue-container {
  background-color: var(--blue500);
}

.score-gold-container {
  background-color: var(--gold500);
}

.scoreboard-bottom-container {
  /* for debugging */
  /* border: solid 2px red ;
  background-color: grey; */
  
  width: var(--scoreboardContentSize);
  height: calc(calc(1 - var(--headerSize)) * 100%);
  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
  padding: 5px;
}

.bottom-leftside-blue-container,
.bottom-rightside-gold-container {
  /* for debugging */
  /* border: solid 2px red ;
  background-color: purple; */

  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-middle-container {
  /* for debugging */
  /* border: solid 2px red ;
  background-color: purple; */
}

.endgame-pioneer-grid-blue-container,
.endgame-pioneer-grid-gold-container {
  /* for debugging */
  /* border: solid 2px yellow ;
  background-color: cyan; */

  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
}

.endgame-pioneer-blue-container,
.endgame-pioneer-gold-container {
  /* for debugging */
  border: solid 2px rgb(0, 112, 255) ;
  background-color: rgba(112, 112, 255, 0.5);

  padding: 2.5px;
  margin: 2.5px;

  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.endgame-pioneer-blue-icon,
.endgame-pioneer-gold-icon {
  /* for debugging */
  /* border: solid 2px red ;
  background-color: cyan; */

  width: calc(110px * 0.8);
  height: calc(108px * 0.8);
  background-image: url('pioneer.png');
  background-size: cover;
}

.campsite-container {
  /* for debugging */
  /* border: solid 2px blue;
  background-color: pink; */

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
  width: 100%;
  height: 100%;
}

.campsite-left-container,
.campsite-right-container {
  /* for debugging */
  /* border: solid 2px red ;
  background-color: green; */

  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.campsite-left-grid-container,
.campsite-right-grid-container {
  /* for debugging */
  /* border: solid 2px red ;
  background-color: green; */
  
  display: grid;
  grid-template-rows: 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
}

.campsite-middle-grid-container {
  /* for debugging */
  /* border: solid 2px red ;
  background-color: green; */

  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.campsite-icon-container {
  /* for debugging */
  border: solid 2px rgb(0, 112, 255) ;
  background-color: rgba(112, 112, 255, 0.5);

  padding: 15px;
  margin: auto;

  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.campsite-icon-bottom-container {
  /* for debugging */
  /* border: solid 2px pink; */
  /* background-color: rgba(112, 112, 255, 0.5); */

  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.campsite-satellite-icon-circle-border {
  border: solid 4px white;
  border-radius: 50%;
  padding: 10px;

  background-color: rgba(0, 0, 0, 0.5);
}

.campsite-satellite-icon {
  /* for debugging */
  /* border: solid 2px red ;
  background-color: cyan; */

  width: calc(100px * 0.8);
  height: calc(78px * 0.8);
  background-image: url('satellite.png');
  background-size: cover;
  visibility: visible;
}

.campsite-resource-icon-grid-container {
  /* for debugging */
  /* border: solid 2px black;
  background-color: white; */

  display: flex;
  flex-direction: column;
}

.campsite-resource-icon {
  border: solid 4px white;
  /* background-color: rgba(255, 215, 0, 100); */
  background-color: var(--grey500);
  width: 30px;
  height: 30px;
}

.campsite-resource-middle-icon {
  border: solid 4px white;
  border-top: solid 0px white;
  border-bottom: solid 0px white;
  /* background-color: rgba(255, 215, 0, 100); */
  background-color: var(--grey500);
  width: 30px;
  height: calc(30px - 8px);
}

.campsite-pioneer-icon-background {
  /* for debugging */
  /* border: solid 2px red ;
  background-color: cyan; */

}

.campsite-pioneer-icon {
  /* for debugging */
  /* border: solid 2px red ;
  background-color: cyan; */

  width: calc(110px * 0.8);
  height: calc(108px * 0.5);
  background: url('pioneer.png');
  background-size: cover;
  visibility: visible;

  border: solid 2px rgb(0, 112, 255);
  background-color: rgba(0, 0, 0, 0.5);
}

/* Used to preload the blizzard background */
body::after{
  position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
  content:url('../static/test-blizzard-background-2.jpg');
}