<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Setup Screen</title>
    <script type="text/javascript" src=scoreboard.js></script>
    <link rel="stylesheet" href="scoreboard.css">
</head>
<body>
    <div class="container">
        <div class="header-box">
            <div class="time-container">
                <div class="time">01:00</div>
            </div>
            <div class="vertical-divider"></div>
            <div class="setup-container">
                <div class="setup-label">SETUP</div>
            </div>
        </div>

        <div class="teams-container">
            <div class="team">
                <div class="team-name">Blue Alliance</div>
                <div class="team-score" data-score="5">5</div>
            </div>
            <div class="team">
                <div class="team-name">Gold Alliance</div>
                <div class="team-score" data-score="7">7</div>
            </div>
        </div>

        <div class="schools-container">
            <div class="school-box">SCHOOL1</div>
            <div class="school-box">SCHOOL2</div>
            <div class="school-box">SCHOOL1</div>
            <div class="school-box">SCHOOL2</div>
        </div>
    </div>

    <div class="progress-bar">
        <div class="progress-fill"></div>
    </div>

    <div id = "waves_container">
        <img src = "./static/light_wave.gif" id = "waves">
    </div>

    <div id = "waves_container">
        <img src = "./static/dark_wave.gif" id = "dark-waves">
    </div>

    <script src="script.js"></script>
</body>
</html>