<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Setup Screen</title>
    <script type="text/javascript" src={{url_for( 'static' , filename='socket.io.js' )}}></script>
    <script type="text/javascript" src={{url_for( 'static' , filename='jquery-1.12.3.min.js' )}}></script>
    <script type="text/javascript" src={{url_for( 'static' , filename='scoreboard.js' )}}></script>
    <link rel="stylesheet" href="{{url_for('static', filename='scoreboard.css')}}">
</head>
<body>
    <div class="container">
        <div id="round-info" class="header-box">
            <div id="blue-sign" class="banner-container">
                <div class="sign-pole-container">
                    <img class="sign-pole" src="../static/banners/sign_pole.png">
                    <img class="sign-pole" src="../static/banners/sign_pole.png">
                </div>
                <div class="sign-container">               
                    <img class="sign" src="../static/banners/blue_sign.png">
                    <h3 class="sign-text">Blue Alliance</h3>
                </div>
            </div>

            <div id="gold-sign" class="banner-container">
                <div class="sign-pole-container">
                    <img class="sign-pole" src="../static/banners/sign_pole.png">
                   <img class="sign-pole" src="../static/banners/sign_pole.png">
                </div> 
                <div class="sign-container">
                    <img class="sign" src="../static/banners/gold_sign.png">
                    <h3 class="sign-text">Gold Alliance</h3>
                </div>
            </div>

            <div class="middle-section">
                <img class="center-pole" src="../static/center_pole.png">
                <div class="time-container">
                    <img class="time-display" src="../static/warning_signs.png">
                    <div id="timer" class="time">0:00</div>
                    <div id="stage" class="setup-label">Loading...</div>
                </div>
            </div>
        </div>

        <div class="teams-container">
            <div class="one-team" id="blue-aliance-info">
                <div class="schools-wrap">
                    <div id="team-name-b1" class="school-box">HAYWARD</div>
                    <div id="team-name-b2" class="school-box">COLISEUM</div>
                </div>
                <div class="team">
                    <div id="score-blue" class="team-score" data-score="6">0</div>
                </div>
            </div>
            <img class="ad-container" id="blue-aliance-ad" src="./static/ad.png">
            <div class="one-team" id="gold-aliance-info">
                <div class="schools-wrap">
                    <div id="team-name-g1" class="school-box">Live Oak</div>
                    <div id="team-name-g2" class="school-box">DE ANZA</div>
                </div>
                
                <div class="team">
                    <div id="score-gold" class="team-score"data-score="6">0</div>
                </div>
            </div>
            <img class="ad-container" id="gold-aliance-ad" src="./static/ad.png">
        </div>
    </div>

    <div class="progress-container">
        <div class="progress-bar-blue">
            <div id="live-blue" class="challenge-count" data-score="2">2</div>
            <img class="blue-bar-first" src="./static/blue_train_front.png">
            <img class="blue-bar" src="./static/blue_train.png">
        </div>
        <div class="progress-bar-gold">
            <img class="gold-bar" src="./static/gold_train.png">
            <img class="gold-bar-first" src="./static/gold_train_front.png">
            <div id="live-gold" class="challenge-count" data-score="2">2</div>
        </div>
    </div>

    <div class="ground-container">
        <img class="ground" src="../static/ground.png">
    </div>

    <div class="train-container">
        <img class="train" src="../static/train-copy-2.png">
    </div>
</body>
</html>