{% extends 'base.html' %} {% block css_link %}
<link rel="stylesheet" href="../static/score_adjustment.css" />
{% endblock %} {% block head_content %}
<title>Score Adjustment</title>

<script>
  // this function is called when the page is loaded, from base.html
  // socket: the main socketio websocket
  // send: a function that sends a header through the socket, and also logs it
  function main_js_content(socket, send) {
    const teams_info_msg = $("#teams-info");
    const blue_score_msg = $("#blue-score-msg");
    const blue_score_input = $("#blue-score-input");
    const blue_score_btn = $("#blue-score-btn");
    const gold_score_msg = $("#gold-score-msg");
    const gold_score_input = $("#gold-score-input");
    const gold_score_btn = $("#gold-score-btn");

    socket.on("connect", function (data) {
      socket.emit("join", "score_adjustment");
      send("get_match_info");
      send("get_scores");
    });

    socket.on("teams_info", function (data) {
      data = JSON.parse(data);
      let names = data.teams.map((t) => "#" + t.team_num + " " + t.team_name);
      let msg = `Match ${data.match_num}: ` + names.join(", ");
      teams_info_msg.text(msg);
    });

    socket.on("scores", function (data) {
      data = JSON.parse(data);
      blue_score_msg.text(data.blue_score);
      gold_score_msg.text(data.gold_score);
    });

    blue_score_btn.click(() => {
      let s = parseFloat(blue_score_input.val());
      if (isNaN(s)) {
        alert("invalid score");
        return;
      }
      blue_score_input.val("");
      send("set_scores", JSON.stringify({ blue_score: s }));
    });

    gold_score_btn.click(() => {
      let s = parseFloat(gold_score_input.val());
      if (isNaN(s)) {
        alert("invalid score");
        return;
      }
      gold_score_input.val("");
      send("set_scores", JSON.stringify({ gold_score: s }));
    });
  }
</script>
{% endblock %} {% block html_content %}
<br />
<div class="row container">
  <h1>Score Adjustment</h1>
</div>

<div class="text-center">
  <h3 id="teams-info">[loading...]</h3>
</div>

<div class="row bottom-padding score-adjust-container">
  <div class="col">
    <h3 class="text-center" id="blue-score-msg">0</h3>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Points</span>
      </div>
      <input type="number" id="blue-score-input" />
      <span class="input-group-btn">
        <button class="btn green-btn" type="button" id="blue-score-btn">
          Change
        </button>
      </span>
    </div>
  </div>
  <div class="col">
    <h3 class="text-center" id="gold-score-msg">0</h3>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Points</span>
      </div>
      <input type="number" id="gold-score-input" />
      <span class="input-group-btn">
        <button class="btn green-btn" type="button" id="gold-score-btn">
          Change
        </button>
      </span>
    </div>
  </div>
</div>

{% endblock %}
