<html>

<head>
    <!-- <script type="text/javascript" src={{url_for( 'static', filename='socket.io.js' )}}></script> -->
    <!-- TODO MAKE THE BELOW THING A FILE -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.2/socket.io.js"></script>
    <script type="text/javascript" src={{url_for( 'static' , filename='jquery-1.12.3.min.js' )}}></script>
    <script type="text/javascript" src={{url_for( 'static' , filename='scoreboard.js' )}}></script>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='bracket.css')}}">
</head>

<body>
    <!-- <img id="sandstorm" src="{{url_for('static', filename='sand1.png')}}" /> -->
    <!-- <div class="container" id="stagename-container">
        
    </div> -->
    <div class="bracket-outer-container">
        <div class="bracket-container">
            <!-- <div class="stagename">
                Autonomous
            </div> -->

            <div class="time">
                <mark class="black">1</mark><br>
                <div id="stage-timer">team_name</div>
            </div>
        </div>
    </div>

    <div class="matches-outer-container">
        <div class="matches-container">
                <!-- <div class="stagename">
                    Autonomous
                </div> -->

                <div class="team">
                    <div id="stage-timer">ACLC</div>
                </div>

                <div class="team">
                    <div id="stage-timer">El Cerrito</div>
                </div>

                <div class="team">
                    <div id="stage-timer">Encinal</div>
                </div>

                <div class="score">
                    <div id="stage-timer">1-2</div>
                </div>

                <div class="team">
                    <div id="stage-timer">Salesain</div>
                </div>

                <div class="team">
                    <div id="stage-timer">Skyline</div>
                </div>

                <div class="team">
                    <div id="stage-timer">Hercules</div>
                </div>



                <div class="team">
                    <div id="stage-timer">Bishop</div>
                </div>

                <div class="team">
                    <div id="stage-timer">Hayward</div>
                </div>

                <div class="team">
                    <div id="stage-timer">Arroyo</div>
                </div>

                <div class="score">
                    <div id="stage-timer">2-0</div>
                </div>

                <div class="team">
                    <div id="stage-timer">ACLC</div>
                </div>

                <div class="team">
                    <div id="stage-timer">El Ceritto</div>
                </div>

                <div class="team">
                    <div id="stage-timer">Encinal</div>
                </div>

                
            </div>
    </div>

        
</body>

</html>