{% extends 'base.html' %}
{% block head_content %}
<title>Match Recovery</title>
<style>
    .form-inline {
      flex-flow: row wrap;
    }

    .led-green,
    .heartbeat-light {
      width: 24px;
      height: 24px;
      background-color: #ABFF00;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
    }

    .led-red {
      width: 24px;
      height: 24px;
      background-color: #F00;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
    }
    .gold-style{
      font-family: Tahoma;
      color: gold;
    }

    .blue-style{
      font-family: Tahoma;
      color: blue;
    }
</style>
<script>
  // this function is called when the page is loaded, from base.html
  // socket: the main socketio websocket
  // send: a function that sends a header through the socket, and also logs it
  function main_js_content(socket, send) {
    //add socket listeners and javascript stuff here
      
      socket.on('connect', function(data) {
        socket.emit('join', 'ref_gui');
        send('request-latest-data');
      });

      socket.on('load-latest-data', function(data) {
        console.log("received latest data")
        console.log(data)
        generateFields(JSON.parse(data))
        $("#send-data").click(() => sendData(JSON.parse(data)))
      });

      

       var data = {"GAME_STATE": "setup", "MATCH_NUMBER": "1", "STARTING_SPOTS": ["left", "left", "left", "left"], "MASTER_ROBOTS": {"blue": null, "gold": null}, "BUTTONS": {"gold_1": false, "gold_2": false, "blue_1": false, "blue_2": false}, "CODES_USED": [], "ALLIANCES": {"gold": {"name": "gold", "team_1_name": "Skyline", "team_2_name": "Albany", "team_1_number": "10", "team_2_number": "1", "score": 0, "team_1_connection": false, "team_2_connection": false, "team_1_custom_ip": null, "team_2_custom_ip": null}, "blue": {"name": "blue", "team_1_name": "CCPA", "team_2_name": "Pinole Valley", "team_2_number": "15", "team_1_number": "37", "score": 0, "team_1_connection": false, "team_2_connection": false, "team_1_custom_ip": null, "team_2_custom_ip": null}}}
       generateFields(data);
       

      function generateFields(data){
        for (var k in data){
          if (typeof data[k] !== "object"){
            generateIndividualField(k, data[k]);
          }
          else if (Array.isArray(data[k])){
            generateArrayFields(k, data[k]);
          }
          else if (k == "ALLIANCES") {
            generateAllianceFields(data[k]);
          }
          else if (Object.keys(data[k]).length == 2){
            generateTwoField(k, data[k]);
          }
          else if (Object.keys(data[k]).length == 4){
            generateFourField(k, data[k]);
          }

        }
      }

      function generateArrayFields(var_name, array){
        var input = "";
        for (val of array){
          input += val + ","
        }
        input = input.substring(0, input.length - 1)
        generateIndividualField(var_name, input);
      }

      function generateAllianceFields(alliances){
        var fourFields = document.getElementById("four-fields");
        var twoFields = document.getElementById("two-fields");
        for (team of ["gold", "blue"]){
          for (key in alliances[team]){
            if (key.includes("team")){
              var section = document.getElementById("team_" + key.slice(7))
            }
            else{
              var section = document.getElementById(key);
            }

            if (section == null){
              var newRow = document.createElement("div");
              newRow.className = 'form-group row';
              var newLabel = document.createElement("label");
              newLabel.className = "col-sm-2 col-form-label";
              var id = key
              if (key.includes("team")){
                id = "team_" + key.slice(7);
              }
              var t = document.createTextNode(id);
              newLabel.appendChild(t);
              var colMd10 = document.createElement("div");
              colMd10.className = 'col-md-10';

              var formGroupRow = document.createElement("div");
              formGroupRow.className = "form-group row";
              formGroupRow.id = id;
              colMd10.appendChild(formGroupRow);
              newRow.appendChild(newLabel);
              newRow.appendChild(colMd10);
              if (key.includes("team")){
                fourFields.appendChild(newRow);
              }
              else{
                twoFields.appendChild(newRow);
              }
              section = document.getElementById(id);
            }

            var newColMd = document.createElement("div");
            var newField = document.createElement("input");
            newColMd.className = "col-md-6";
            if (key.includes("team")){
              newColMd.className = "col-md-3";
            }
            newColMd.id = "col_" + team + "_" + key
            newField.type = "text";
            newField.className = "form-control";
            newField.id = team + "_" + key;
            newField.value = alliances[team][key]
            newColMd.appendChild(newField);
            if (key.includes("team_1") && document.getElementById(team + "_team_2_" + key.slice(7)) != null){
              section.insertBefore(newColMd, document.getElementById("col_" + team + "_team_2_" + key.slice(7)));
            }
            else{
              section.appendChild(newColMd);
            }
            } 
          }
      }

      function generateIndividualField(var_name, var_val){
        var indFields = document.getElementById("individual-fields");
        indFields.innerHTML += "<div class='form-group row' id = '" + var_name + "_group'>"+ 
        "<label class='col-sm-2 col-form-label'> " + var_name + " </label>"+
        "<div class='col-md-10'>" +
        "<input type='text' id = '" + var_name +"_input' class='form-control' value='" + var_val + "'>" +
        "</div>"+
        "</div>"
      }

      function generateTwoField(var_name, var_vals){
        var twoFields = document.getElementById("two-fields");
        for (key in var_vals){
          if (key.includes("gold")){
            var gold_val = var_vals[key];
            console.log(var_name)
            console.log(key)
          }
          else if (key.includes("blue")){
            var blue_val = var_vals[key];
            console.log(key)
          }
        }

        twoFields.innerHTML += 
        "<div class='form-group row' id = '" + var_name  + "_group'>"+ 
            "<label class='col-sm-2 col-form-label'> " + var_name + " </label>"+
            "<div class='col-md-5'>" +
            "<input type='text' class='form-control' id='" + var_name + "_gold" + "' value='" + gold_val + "'>" +
            "</div>"+
            "<div class='col-md-5'>" +
            "<input type='text' class='form-control' id='" + var_name + "_blue" + "' value='" + blue_val + "'>" +
            "</div>"+
          "</div>"
      }

      function generateFourField(var_name, var_vals){
        var fourFields = document.getElementById("four-fields");
        for (key in var_vals){
          if (key.includes("gold_1")){
            var gold_val_1 = var_vals[key];
          }
          else if (key.includes("gold_2")){
            var gold_val_2 = var_vals[key];
          }
          else if (key.includes("blue_1")){
            var blue_val_1 = var_vals[key];
          }
          else if (key.includes("blue_2")){
            var blue_val_2 = var_vals[key];
          }
        }
        fourFields.innerHTML += 
        "<div class='form-group row'>"+ 
            "<label class='col-sm-2 col-form-label'> " + var_name + " </label>"+
            "<div class='col-md-10'>"+
            "<div class='form-group row'>" +
            "<div class='col-md-3'>" +
            "<input type='text' class='form-control' id='" + var_name + "_gold_1"  + "' value='" + gold_val_1 + "'>" +
            "</div>"+
            "<div class='col-md-3'>" +
            "<input type='text' class='form-control' id='" + var_name + "_gold_2"  + "' value='" + gold_val_2 + "'>" +
            "</div>"+
            "<div class='col-md-3'>" +
            "<input type='text' class='form-control' id='" + var_name + "_blue_1"  + "' value='" + blue_val_1 + "'>" +
            "</div>"+
            "<div class='col-md-3'>" +
            "<input type='text' class='form-control' id='" + var_name + "_blue_2"  + "' value='" + blue_val_2 + "'>" +
            "</div>"+
            "</div>"+
            "</div>"+
          "</div>"
      }

      function sendData(data) {
        updateJSON(data)
        socket.emit('ui-to-server-latest-data', JSON.stringify(data))
      }

      function updateJSON(data) {
        for (var k in data){
          if (typeof data[k] !== "object"){
            data[k] = $("#" + k + "_input").val()
          }
          else if (Array.isArray(data[k])){
            var input_string = $("#" + k + "_input").val();
            var arr = input_string.split(",");
            data[k] = arr;
          }
          else if (k == "ALLIANCES") {
            for (var team in data[k]) {
              for (var attribute in data[k][team]) {
                data[k][team][attribute] = $("#" + team +"_" + attribute).val();
              }
            }
          } 
          else {
            for (var team in data[k]) {
              data[k][team] = $("#" + k + "_" + team).val();
              console.log("#" + k + "_" + team)
              console.log($("#" + k + "_" + team).val());
            }
          }
        }
        console.log(data)
      }
      
      
      
  }
</script>
{% endblock %}
{% block html_content %}
      <h2>Match Recovery</h2>
      <div class="btn-group bottom-padding" role="group" aria-label="...">
        <button type="button" class="btn btn-success" id="match-start"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Set Stage</button>
        <button class="btn btn-danger" type="button" id="send-data">Send Data</button>

      </div>


      <form id = "fieldContainer">
        <div id = 'individual-fields'></div>
        <div id = "two-fields">

          <div class="form-group row">
            <div class="col-md-2"></div>
            <h4 class="col-md-5 text-center gold-style">
              GOLD
            </h4>
            <h4 class="col-md-5 text-center blue-style">
              BLUE
            </h4>
          </div>
        </div>

        <div id = "four-fields">

          <div class="form-group row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
              <div class="form-group row">
              <h4 class="col-md-3 text-center gold-style">
                GOLD 1
              </h4>
              <h4 class="col-md-3 text-center gold-style">
                GOLD 2
              </h4>
              <h4 class="col-md-3 text-center blue-style">
                BLUE 1
              </h4>
              <h4 class="col-md-3 text-center blue-style">
                BLUE 2
              </h4> 
              </div>
            </div>
          </div>
        </div>
      </form>
{% endblock %}
