{% extends 'base.html' %} {% block head_content %}
<title>Ref GUI</title>
<script>
  // this function is called when the page is loaded, from base.html
  // socket: the main socketio websocket
  // send: a function that sends a header through the socket, and also logs it
  function main_js_content(socket, send) {
    let stage_start_time = null;

    const teams_info_msg = $("#teams-info");
    const score_info_msg = $("#score-info");
    const timer_info_msg = $("#timer-time");
    const btn_1 = $("#button-1");
    const btn_2 = $("#button-2");
    const estop_btn = $("#stop-robots");
    const estart_btn = $("#start-robots");
    const state_msg = $("#state");
    const auto_btn = $("#auto-btn");
    const teleop_btn = $("#teleop-btn");
    const end_btn = $("#end-btn");

    socket.on("connect", function (data) {
      socket.emit("join", "ref_gui");
      send("get_match_info");
      send("get_scores");
      send("get_state");
    });

    socket.on("teams_info", function (data) {
      data = JSON.parse(data);
      let names = data.teams.map((t) => "#" + t.team_num + " " + t.team_name);
      let msg = `Match ${data.match_num}: ` + names.join(", ");
      teams_info_msg.text(msg);
    });

    socket.on("scores", function (data) {
      data = JSON.parse(data);
      score_info_msg.text(`Blue: ${data.blue_score}, Gold: ${data.gold_score}`);
    });

    socket.on("state", function (data) {
      data = JSON.parse(data);
      state_msg.text(data.state);
      stage_start_time = data.start_time;
    });

    (function displayTime() {
      if (stage_start_time) {
        let t = (new Date().getTime() - stage_start_time) / 1000;
        let s = `${Math.floor(t / 60)}:${("" + Math.floor(t % 60)).padStart(
          2,
          "0"
        )}`;
        timer_info_msg.text(s);
      } else {
        timer_info_msg.text("0:00");
      }
      requestAnimationFrame(displayTime);
    })();

    btn_1.click(() => {
      send("button_1_pressed");
    });

    btn_2.click(() => {
      send("button_2_pressed");
    });

    estop_btn.click(() => {
      for (let a = 0; a < 4; a++) send("robot_off", JSON.stringify({ ind: a }));
    });

    estart_btn.click(() => {
      for (let a = 0; a < 4; a++) send("robot_on", JSON.stringify({ ind: a }));
    });

    auto_btn.click(() => {
      send("set_state", JSON.stringify({ state: "auto" }));
    });

    teleop_btn.click(() => {
      send("set_state", JSON.stringify({ state: "teleop" }));
    });

    end_btn.click(() => {
      send("set_state", JSON.stringify({ state: "end" }));
    });
  }
</script>
{% endblock %} {% block html_content %}
<br />
<div class="row container">
  <h1>Ref GUI</h1>
</div>

<div class="text-center">
  <h3 id="teams-info">[loading...]</h3>
  <h3 id="score-info">[loading...]</h3>
  <h3 id="timer-time">[loading...]</h3>
</div>

<div class="row bottom-padding">
  <div class="col">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-info" type="button" id="button-1">
          Button 1
        </button>
        <button class="btn btn-info" type="button" id="button-2">
          Button 2
        </button>
        <button class="btn btn-danger" type="button" id="stop-robots">
          ESTOP Robots
        </button>
        <button class="btn btn-success" type="button" id="start-robots">
          ESTART Robots
        </button>
      </span>
    </div>
  </div>
</div>
<div class="row bottom-padding">
  <div class="col">
    <div class="input-group">
      <h3>State: <span id="state">None</span></h3>
      <span class="input-group-btn ml-3">
        <button class="btn btn-info" type="button" id="auto-btn">Auto</button>
        <button class="btn btn-info" type="button" id="teleop-btn">
          Teleop
        </button>
        <button class="btn btn-info" type="button" id="end-btn">End</button>
      </span>
    </div>
  </div>
</div>
{% endblock %}
