{% extends 'base.html' %}
{% block page_index %}2{% endblock %}
{% block title %}Ref GUI{% endblock %}
{% block extra_css %}
{% endblock %}
{% block js_content %}
<script>
  // this function is called when the page is loaded, from base.html
  // socket: the main socketio websocket
  // send: a function that sends a header through the socket, and also logs it
  function main_js_content(socket, send) {
    var team_num = NaN;
    var start_time = NaN;
    var base_time = NaN;
    var penalty_time = 1000;
    var stamp_time = 2000;
    var tinder = 3000;

    socket.on('connect', function(data) {
      socket.emit('join', 'ref_gui');
      send('get_round_info_no_args');
      send('get_scores');
      send('get_biome');
    });

    socket.on('scores', function(scores) {
      let parsed_data = JSON.parse(scores);
      start_time = parseInt(parsed_data.start_time);
      penalty_time = parseInt(parsed_data.penalty);
      stamp_time = parseInt(parsed_data.stamp_time);
      base_time = parseFloat(parsed_data.time);
    });

    (function update_score() {
      let elapsed = base_time * 1000 || (isNaN(start_time) ? 0 : new Date().getTime() - start_time);
      show_score(elapsed, penalty_time, stamp_time);
      requestAnimationFrame(update_score);
    })();
    
    function show_score(elapsed, penalty, stamp) {
      let basestr = (""+Math.floor(elapsed/60000)).padStart(1,'0') + ":" +
                    (""+Math.floor(elapsed/1000)%60).padStart(2,'0');
      $("#team-score").html(
      `${basestr} <span style="color:red">(+${penalty})</span> <span style="color:green">(-${-1*stamp})</span>`
      );
    }
    
    socket.on('teams_info', function (data) {
      let parsed_data = JSON.parse(data);
      team_num = parsed_data.team_num;
      $("#team-number").text(parsed_data.team_num);
      $("#team-name").text(parsed_data.team_name);
      $("#tinder").text(parsed_data.tinder);
      tinder = parseInt(parsed_data.tinder);
    });

    socket.on('stage', function (data) {
      data = JSON.parse(data);
      const biome = data.stage;
      updateBiome(biome);
    });

    function updateBiome(biome) {
      $("#biome").text(biome);
    }


    $("#penalty-change").click(() => {
      let v = parseInt($("#penalty-adjustment").val());
      if(isNaN(v)) { alert("invalid input"); return; }
      if(v < 0) { alert("Penalty time should be a positive number"); return; }
      send('score_adjust', JSON.stringify({ "penalty": v }));
      $("#penalty-adjustment").val("");
    });
    
    $("#penalty-5").click(() => {
      send('score_adjust', JSON.stringify({ "penalty": penalty_time+5 }));
    });
    
    $("#stamp-change").click(() => {
      let v = parseInt($("#stamp-adjustment").val());
      if(isNaN(v)) { alert("invalid input"); return; }
      if(v > 0) { alert("Stamp time should be a negative number"); return; }
      send('score_adjust', JSON.stringify({ "stamp_time": v }));
      $("#stamp-adjustment").val("");
    });
    
    $("#stamp-3").click(() => {
      send('score_adjust', JSON.stringify({ "stamp_time": stamp_time-3 }));
    });
    
    $("#stamp-5").click(() => {
      send('score_adjust', JSON.stringify({ "stamp_time": stamp_time-5 }));
    });
    
    $("#tinder-change").click(() => {
      let v = parseInt($("#tinder-adjustment").val());
      if(isNaN(v)) { alert("invalid input"); return; }
      send('set_tinder', JSON.stringify({ "tinder": v }));
      $("#tinder-adjustment").val("");
    });
    
    $("#tinder-decrement").click(() => {
      send('set_tinder', JSON.stringify({ "tinder": tinder-1 }));
    });
    
    $("#tinder-increment").click(() => {
      send('set_tinder', JSON.stringify({ "tinder": tinder+1 }));
    });

    
    $("#hit-wall").click(() => {
      send('contact_wall');
    });
    
    $("#shortcut").click(() => {
      send('drawbridge_shortcut');
    });

    $("#stop-robot").click(() => {
      send('robot_off', JSON.stringify({ "team_number": team_num }));
    });

    $("#start-robot").click(() => {
      send('robot_on', JSON.stringify({ "team_number": team_num }));
    });

    $("#city").click(() => {
      send("set_biome", JSON.stringify({"biome": "city"}));
    });

    $("#desert").click(() => {
      send('set_biome', JSON.stringify({"biome": "sandstorm"}))
    });

    $("#dehydration").click(() => {
      send('set_biome', JSON.stringify({"biome": "dehydration"}))
    });

    $("#hypothermia").click(() => {
      send('set_biome', JSON.stringify({"biome": "hypothermia"}))
    });

    $("#final").click(() => {
      send('set_biome', JSON.stringify({"biome": "final"}))
    });

    $("#end").click(() => {
      send('set_biome', JSON.stringify({"biome": "end"}))
    });
  }
</script>
{% endblock %}
{% block html_content %}
<div class="row container">
  <h1>Ref GUI</h1>
</div>


<div class="text-center">
  <h3>Team: (#<span id="team-number"></span>) <span id="team-name"></span></h3>
  <h3> Team Score: <span id="team-score"></span></h3>
  <h3> Firewood: <span id="tinder"></span></h3>
</div>


<div class="row bottom-padding">
  <div>
    <div class="input-group">
      <h3>Penalty:</h3>
      <input type="number" class="form-control" id="penalty-adjustment">
      <span class="input-group-btn">
        <button class="btn btn-success" type="button" id="penalty-change">Change</button>
        <button class="btn btn-info" type="button" id="penalty-5">+5 Penalty</button>
      </span>
    </div>
  </div>
</div>
<div class="row bottom-padding">
  <div>
    <div class="input-group">
      <h3>Stamp:</h3>
      <input type="number" class="form-control" id="stamp-adjustment">
      <span class="input-group-btn">
        <button class="btn btn-success" type="button" id="stamp-change">Change</button>
        <button class="btn btn-info" type="button" id="stamp-3">Add 3 stamp</button>
        <button class="btn btn-info" type="button" id="stamp-5">Add 5 stamp</button>
      </span>
    </div>
  </div>
</div>
<div class="row bottom-padding">
  <div>
    <div class="input-group">
      <h3>Firewood:</h3>
      <input type="number" class="form-control" id="tinder-adjustment">
      <span class="input-group-btn">
        <button class="btn btn-success" type="button" id="tinder-change">Change</button>
        <button class="btn btn-info" type="button" id="tinder-decrement">-</button>
        <button class="btn btn-info" type="button" id="tinder-increment">+</button>
      </span>
    </div>
  </div>
</div>
<div class="row bottom-padding">
  <div class="col">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-info" type="button" id="hit-wall">Hit Wall</button>
        <button class="btn btn-info" type="button" id="shortcut">Shortcut</button>
        <button class="btn btn-danger" type="button" id="stop-robot">ESTOP Robot</button>
        <button class="btn btn-success" type="button" id="start-robot">ESTART Robot</button>
      </span>
    </div>
  </div>
</div>
<div class="text-center">
  <h3>Biome: <span id="biome"> None </span></h3>
</div>
<div class="row bottom-padding">
  <div>
    <div class="input-group">
      <h3>Change State:</h3>
      <span class="input-group-btn">
        <button class="btn btn-info" type="button" id="city">City</button>
        <button class="btn btn-info" type="button" id="desert">Desert</button>
        <button class="btn btn-info" type="button" id="dehydration">Dehydration</button>
        <button class="btn btn-info" type="button" id="hypothermia">Hypothermia</button>
        <button class="btn btn-info" type="button" id="final">Final</button>
        <button class="btn btn-info" type="button" id="end">End</button>
      </span>
    </div>
  </div>
</div>
{% endblock %}

