{% extends 'base.html' %}
{% block head_content %}
<title>Score Adjustment</title>
<script>
  // this function is called when the page is loaded, from base.html
  // socket: the main socketio websocket
  // send: a function that sends a header through the socket, and also logs it
  function main_js_content(socket, send) {
    socket.on('connect', function(data) {
      socket.emit('join', 'score_adjustment');
      send('get_round_info_no_args');
      send('get_scores');
    });

    socket.on('scores', function(scores) {
      let parsed_data = JSON.parse(scores);
      show_score(parseFloat(parsed_data.time * 1000), parsed_data.penalty, parsed_data.stamp_time);
    });
    
    function show_score(elapsed, penalty, stamp) {
      let basestr = (""+Math.floor(elapsed/60000)).padStart(1,'0') + ":" +
                    (""+Math.floor(elapsed/1000)%60).padStart(2,'0');
      $("#team-score").html(
      `${basestr} <span style="color:red">(+${penalty})</span> <span style="color:green">(-${-1*stamp})</span>`
      );
    }

    socket.on('teams_info', function (data) {
      parsed_data = JSON.parse(data);
      
      $("#team-number").text(parsed_data.team_num);
      $("#team-name").text(parsed_data.team_name);
    });

    $("#score-change").click(() => {
        let t = parseFloat($("#score-adjustment").val());
        if(isNaN(t)) { alert("invalid time"); return; }
        send("score_adjust", JSON.stringify({ "time": t }));
        $("#score-adjustment").val("");
    });
    
    $("#penalty-change").click(() => {
        let t = parseInt($("#penalty-adjustment").val());
        if(isNaN(t)) { alert("invalid time"); return; }
        if(t < 0) { alert("Penalty time should be a positive number"); return; }
        send("score_adjust", JSON.stringify({ "penalty": t }));
        $("#penalty-adjustment").val("");
    });
    
    $("#stamp-change").click(() => {
        let t = parseInt($("#stamp-adjustment").val());
        if(isNaN(t)) { alert("invalid time"); return; }
        if(t > 0) { alert("Stamp time should be a negative number"); return; }
        send("score_adjust", JSON.stringify({ "stamp_time": t }));
        $("#stamp-adjustment").val("");
    });
  }
</script>
{% endblock %}
{% block html_content %}
<div class="row container">
  <h1>Score Adjustment</h1>
</div>


<div class="text-center">
  <h3 id="teams-info"> (#__)____ + (#__)____ vs (#__)____ + (#__)____</h3>
</div>

<div class="row bottom-padding">
    <div class="col" style="border:1px solid black">
        
        <h3 class="text-center">0</h3>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Points</span>
            </div>
            <input type="number" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-success" type="button" id="score-change">Change</button>
            </span>
        </div>
        
    </div>
    <div class="col" style="border:1px solid black">
        
        
        <h3 class="text-center">0</h3>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Points</span>
            </div>
            <input type="number" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-success" type="button" id="score-change">Change</button>
            </span>
        </div>
        
        
        
    </div>
</div>



{% endblock %}

