{% extends 'base.html' %}
{% block page_index %}1{% endblock %}
{% block title %}Score Adjustment{% endblock %}
{% block extra_css %}
{% endblock %}
{% block js_content %}
<script>
  // this function is called when the page is loaded, from base.html
  // socket: the main socketio websocket
  // send: a function that sends a header through the socket, and also logs it
  function main_js_content(socket, send) {
    socket.on('connect', function(data) {
      socket.emit('join', 'score_adjustment');
      send('get_round_info_no_args');
      send('get_scores');
    });

    socket.on('scores', function(scores) {
      let parsed_data = JSON.parse(scores);
      show_score(parseFloat(parsed_data.time * 1000), parsed_data.penalty, parsed_data.stamp_time);
    });
    
    function show_score(elapsed, penalty, stamp) {
      let basestr = (""+Math.floor(elapsed/60000)).padStart(1,'0') + ":" +
                    (""+Math.floor(elapsed/1000)%60).padStart(2,'0');
      $("#team-score").html(
      `${basestr} <span style="color:red">(+${penalty})</span> <span style="color:green">(-${-1*stamp})</span>`
      );
    }

    socket.on('teams_info', function (data) {
      parsed_data = JSON.parse(data);
      
      $("#team-number").text(parsed_data.team_num);
      $("#team-name").text(parsed_data.team_name);
    });

    $("#score-change").click(() => {
        let t = parseFloat($("#score-adjustment").val());
        if(isNaN(t)) { alert("invalid time"); return; }
        send("score_adjust", JSON.stringify({ "time": t }));
        $("#score-adjustment").val("");
    });
    
    $("#penalty-change").click(() => {
        let t = parseInt($("#penalty-adjustment").val());
        if(isNaN(t)) { alert("invalid time"); return; }
        if(t < 0) { alert("Penalty time should be a positive number"); return; }
        send("score_adjust", JSON.stringify({ "penalty": t }));
        $("#penalty-adjustment").val("");
    });
    
    $("#stamp-change").click(() => {
        let t = parseInt($("#stamp-adjustment").val());
        if(isNaN(t)) { alert("invalid time"); return; }
        if(t > 0) { alert("Stamp time should be a negative number"); return; }
        send("score_adjust", JSON.stringify({ "stamp_time": t }));
        $("#stamp-adjustment").val("");
    });
  }
</script>
{% endblock %}
{% block html_content %}
<div class="row container">
  <h1>Score Adjustment</h1>
</div>


<div class="text-center">
  <h3>Team: (#<span id="team-number"></span>) <span id="team-name"></span></h3>
  <h3> Team Score: <span id="team-score"></span></h3>
</div>

<div class="row">
    <div class="col" style="border:1px solid black">
        
        
        <div class="row bottom-padding">
  <div>
    <div class="input-group">
      <h3>Base time (seconds):</h3>
      <input type="number" class="form-control" id="score-adjustment">
      <span class="input-group-btn"><button class="btn btn-success" type="button" id="score-change">Change</button></span>
    </div>
  </div>
</div>
<div class="row bottom-padding">
  <div>
    <div class="input-group">
      <h3>Penalty time (seconds):</h3>
      <input type="number" class="form-control" id="penalty-adjustment">
      <span class="input-group-btn"><button class="btn btn-success" type="button" id="penalty-change">Change</button></span>
    </div>
  </div>
</div>
<div class="row bottom-padding">
  <div>
    <div class="input-group">
      <h3>Stamp time (seconds):</h3>
      <input type="number" class="form-control" id="stamp-adjustment">
      <span class="input-group-btn"><button class="btn btn-success" type="button" id="stamp-change">Change</button></span>
    </div>
  </div>
</div>
        
        
    </div>
    <div class="col" style="border:1px solid black">
        
        
        <div class="row bottom-padding">
  <div>
    <div class="input-group">
      <h3>Base time (seconds):</h3>
      <input type="number" class="form-control" id="score-adjustment">
      <span class="input-group-btn"><button class="btn btn-success" type="button" id="score-change">Change</button></span>
    </div>
  </div>
</div>
<div class="row bottom-padding">
  <div>
    <div class="input-group">
      <h3>Penalty time (seconds):</h3>
      <input type="number" class="form-control" id="penalty-adjustment">
      <span class="input-group-btn"><button class="btn btn-success" type="button" id="penalty-change">Change</button></span>
    </div>
  </div>
</div>
<div class="row bottom-padding">
  <div>
    <div class="input-group">
      <h3>Stamp time (seconds):</h3>
      <input type="number" class="form-control" id="stamp-adjustment">
      <span class="input-group-btn"><button class="btn btn-success" type="button" id="stamp-change">Change</button></span>
    </div>
  </div>
</div>
        
        
        
    </div>
</div>



{% endblock %}

