<html>

<head>
    <!-- <script type="text/javascript" src={{url_for( 'static', filename='socket.io.js' )}}></script> -->
    <!-- TODO MAKE THE BELOW THING A FILE -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.2/socket.io.js"></script>
    <script type="text/javascript" src={{url_for( 'static' , filename='jquery-1.12.3.min.js' )}}></script>
    <script type="text/javascript" src={{url_for( 'static' , filename='scoreboard.js' )}}></script>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='scoreboard.css')}}">
</head>

<body>
    <!-- <img id="sandstorm" src="{{url_for('static', filename='sand1.png')}}" /> -->
    <!-- <div class="container" id="stagename-container">
        
    </div> -->
    <div class="scoreboard-outer-container">
        <div class="scoreboard-header-outer-container">
            <div class="scoreboard-header-container">
                <div class="alliance-container">
                    <div class="robot-blue-container">
                        <div class="robot-text">Robot b1</div>
                        <div class="robot-text">UC Berkeley</div>
                    </div>
                    <div class="robot-blue-container">
                        <div class="robot-text">Robot b2</div>
                        <div class="robot-text">UC Berkeley</div>
                    </div>
                </div>
                <div class="game-container">
                    <div class="timer-container">
                        <div class="timer-text">
                            0:00
                        </div>
                    </div>
                    <div class="stage-container">
                        <div class="stage-text">
                            stage: blizzard
                        </div>
                    </div>
                    <div class="score-container">
                        <div class="score-blue-container">
                            0 score
                        </div>
                        <div class="score-gold-container">
                            0 score
                        </div>
                    </div>
                </div>
                <div class="alliance-container">
                    <div class="robot-gold-container">
                        <div class="robot-text">Robot g1</div>
                        <div class="robot-text">UC Berkeley</div>
                    </div>
                    <div class="robot-gold-container">
                        <div class="robot-text">Robot g2</div>
                        <div class="robot-text">UC Berkeley</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="scoreboard-bottom-container">
            <div class="bottom-leftside-blue-container">
                <div class="endgame-pioneer-grid-blue-container">
                    <div class="endgame-pioneer-blue-container">
                        <div class="endgame-pioneer-blue-icon"></div>
                    </div>
                    <div class="endgame-pioneer-blue-container">
                        <div class="endgame-pioneer-blue-icon"></div>
                    </div>
                    <div class="endgame-pioneer-blue-container">
                        <div class="endgame-pioneer-blue-icon"></div>
                    </div>
                    <div class="endgame-pioneer-blue-container">
                        <div class="endgame-pioneer-blue-icon"></div>
                    </div>
                </div>
            </div>
            <div class="bottom-middle-container">
                <div class="campsite-container">
                    <div class="campsite-left-container">
                        <div class="campsite-left-grid-container">
                            <div class="campsite-icon-container">
                                <div class="campsite-pioneer-icon"></div>
                                <div class="campsite-icon-bottom-container">
                                    <div class="campsite-resource-icon-grid-container">
                                        <div class="campsite-resource-icon"></div>
                                        <div class="campsite-resource-middle-icon"></div>
                                        <div class="campsite-resource-icon"></div>
                                    </div>
                                    <div class="campsite-satellite-icon-circle-border">
                                        <div class="campsite-satellite-icon"></div>
                                    </div>
                                    <div class="campsite-resource-icon-grid-container">
                                        <div class="campsite-resource-icon"></div>
                                        <div class="campsite-resource-middle-icon"></div>
                                        <div class="campsite-resource-icon"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="campsite-icon-container">
                                <div class="campsite-pioneer-icon"></div>
                                <div class="campsite-icon-bottom-container">
                                    <div class="campsite-resource-icon-grid-container">
                                        <div class="campsite-resource-icon"></div>
                                        <div class="campsite-resource-middle-icon"></div>
                                        <div class="campsite-resource-icon"></div>
                                    </div>
                                    <div class="campsite-satellite-icon-circle-border">
                                        <div class="campsite-satellite-icon"></div>
                                    </div>
                                    <div class="campsite-resource-icon-grid-container">
                                        <div class="campsite-resource-icon"></div>
                                        <div class="campsite-resource-middle-icon"></div>
                                        <div class="campsite-resource-icon"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="campsite-middle-grid-container">
                        <div class="campsite-icon-container">
                            <div class="campsite-pioneer-icon"></div>
                            <div class="campsite-icon-bottom-container">
                                <div class="campsite-resource-icon-grid-container">
                                    <div class="campsite-resource-icon"></div>
                                    <div class="campsite-resource-middle-icon"></div>
                                    <div class="campsite-resource-icon"></div>
                                </div>
                                <div class="campsite-satellite-icon-circle-border">
                                    <div class="campsite-satellite-icon"></div>
                                </div>
                                <div class="campsite-resource-icon-grid-container">
                                    <div class="campsite-resource-icon"></div>
                                    <div class="campsite-resource-middle-icon"></div>
                                    <div class="campsite-resource-icon"></div>
                                </div>
                            </div>
                        </div>
                        <div class="campsite-icon-container">
                            <div class="campsite-pioneer-icon"></div>
                            <div class="campsite-icon-bottom-container">
                                <div class="campsite-resource-icon-grid-container">
                                    <div class="campsite-resource-icon"></div>
                                    <div class="campsite-resource-middle-icon"></div>
                                    <div class="campsite-resource-icon"></div>
                                </div>
                                <div class="campsite-satellite-icon-circle-border">
                                    <div class="campsite-satellite-icon"></div>
                                </div>
                                <div class="campsite-resource-icon-grid-container">
                                    <div class="campsite-resource-icon"></div>
                                    <div class="campsite-resource-middle-icon"></div>
                                    <div class="campsite-resource-icon"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="campsite-right-container">
                        <div class="campsite-right-grid-container">
                            <div class="campsite-icon-container">
                                <div class="campsite-pioneer-icon"></div>
                                <div class="campsite-icon-bottom-container">
                                    <div class="campsite-resource-icon-grid-container">
                                        <div class="campsite-resource-icon"></div>
                                        <div class="campsite-resource-middle-icon"></div>
                                        <div class="campsite-resource-icon"></div>
                                    </div>
                                    <div class="campsite-satellite-icon-circle-border">
                                        <div class="campsite-satellite-icon"></div>
                                    </div>
                                    <div class="campsite-resource-icon-grid-container">
                                        <div class="campsite-resource-icon"></div>
                                        <div class="campsite-resource-middle-icon"></div>
                                        <div class="campsite-resource-icon"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="campsite-icon-container">
                                <div class="campsite-pioneer-icon"></div>
                                <div class="campsite-icon-bottom-container">
                                    <div class="campsite-resource-icon-grid-container">
                                        <div class="campsite-resource-icon"></div>
                                        <div class="campsite-resource-middle-icon"></div>
                                        <div class="campsite-resource-icon"></div>
                                    </div>
                                    <div class="campsite-satellite-icon-circle-border">
                                        <div class="campsite-satellite-icon"></div>
                                    </div>
                                    <div class="campsite-resource-icon-grid-container">
                                        <div class="campsite-resource-icon"></div>
                                        <div class="campsite-resource-middle-icon"></div>
                                        <div class="campsite-resource-icon"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-rightside-gold-container">
                <div class="endgame-pioneer-grid-gold-container">
                    <div class="endgame-pioneer-gold-container">
                        <div class="endgame-pioneer-gold-icon"></div>
                    </div>
                    <div class="endgame-pioneer-gold-container">
                        <div class="endgame-pioneer-gold-icon"></div>
                    </div>
                    <div class="endgame-pioneer-gold-container">
                        <div class="endgame-pioneer-gold-icon"></div>
                    </div>
                    <div class="endgame-pioneer-gold-container">
                        <div class="endgame-pioneer-gold-icon"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="scoreboard-container">

            <div class="robotinfo">
                <mark class="black" id="team-num-1">Team 123</mark>
                <div id="team-name-1">Bo Gears Elem.</div>
            </div>

            <div class="robotinfo">
                <mark class="black" id="team-num-2">Team 123</mark>
                <div id="team-name-2">Bo Gears Elem.</div>
            </div>

            <div class="robotinfo">
                <mark class="black" id="team-num-3">Team 123</mark>
                <div id="team-name-3">Bo Gears Elem.</div>
            </div>

            <div class="robotinfo">
                <mark class="black" id="team-num-4">Team 123</mark>
                <div id="team-name-4">Bo Gears Elem.</div>
            </div>
        </div>

        <div class="total-container">
            <div class="totalinfo">
                <div> <mark class="black">Total Score</mark></div>
                <div id="total">0</div>
            </div>
            <div class="totalinfo">
                <div> <mark class="black">Total Score</mark></div>
                <div id="total">0</div>
            </div>
        </div>

        <div class="scoreboard-container">
            <div class="time">
                <div> <mark class="black">Time</mark> </div>
                <div id="stage-timer">0:00</div>
            </div>

            <div class="stage">
                <div> <mark class="black">Stage</mark></div>
                <div id="stage">Blizzard</div>
            </div>
        </div> -->
    </div>
</body>

</html> 