<html>

<head>
  <title>Score Adjustment</title>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <script type="text/javascript" src={{url_for( 'static', filename='jquery-1.12.3.min.js' )}}></script>
  <script type="text/javascript" src={{url_for( 'static', filename='tabletop.js' )}}></script>
  <script type="text/javascript" src={{url_for( 'static', filename='lcm_ws_bridge.js' )}}></script>
  <script type="text/javascript" src={{url_for( 'static', filename='socket.io.js' )}}></script>
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script> -->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">

  <!-- Styles -->
  <style>
    /*Disables spinning on number forms*/

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }

    .bottom-padding {
      margin-bottom: 15px;
    }
  </style>

  <!-- Javascript -->
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      var socket = io('/');

      let counter = 1;
      function logg(str) {
        let log = document.getElementById("events-log");
        let m = log.innerHTML.split("\n");
        if(m.length >= 10) m.shift();
        log.innerHTML = m.join("\n") + `\n[${counter++}] ` + str;
      }
      
      function emit() {
        socket.emit(...arguments);
        let logstr = ""
        try {
            for(let a=0;a<arguments.length;a++)
               logstr += arguments[a];
        } catch (err){
            console.log(err);
            logstr = "[logging error]";
        }
        logg(logstr);
      }

      $("#log-toggle").click(function(e) {
        e.preventDefault();
        let log = document.getElementById("events-log");
        log.hidden = !log.hidden;
      });

      socket.on('connect', function(data) {
        emit('join', 'score_adjustment');
        emit('ui-to-server-teams-info-request', JSON.stringify({}));
        emit('ui-to-server-score-request');
      });

      socket.on('server-to-ui-scores', function(scores) {
        logg('server-to-ui-scores' + scores);
        let parsed_data = JSON.parse(scores);
        show_score(parsed_data.time * 1000, parsed_data.penalty, parsed_data.stamp_time);
      });
      
      function show_score(elapsed, penalty, stamp) {
        let basestr = (""+Math.floor(elapsed/60000)).padStart(1,'0') + ":" +
                      (""+Math.floor(elapsed/1000)%60).padStart(2,'0');
        $("#team-score").html(
        `${basestr} <span style="color:red">(+${penalty})</span> <span style="color:green">(-${stamp})</span>`
        );
      }

      socket.on('server-to-ui-teams-info', function (data) {
        logg("server-to-ui-teams-info"+data);
        parsed_data = JSON.parse(data)
        console.log(parsed_data)
        
        $("#team-number").text(parsed_data.team_num);
        $("#team_name").text(parsed_data.team_name);
      });

      $("#score-change").click(() => {
          let t = parseFloat($("#score-adjustment").val());
          if(isNaN(t)) { alert("invalid time"); return; }
          emit("ui-to-server-scores", JSON.stringify({ "time": t }));
          $("#score-adjustment").val("");
      });
      
      $("#penalty-change").click(() => {
          let t = parseInt($("#penalty-adjustment").val());
          if(isNaN(t)) { alert("invalid time"); return; }
          emit("ui-to-server-scores", JSON.stringify({ "penalty": t }));
          $("#penalty-adjustment").val("");
      });
      
      $("#stamp-change").click(() => {
          let t = parseInt($("#stamp-adjustment").val());
          if(isNaN(t)) { alert("invalid time"); return; }
          emit("ui-to-server-scores", JSON.stringify({ "stamp_time": t }));
          $("#stamp-adjustment").val("");
      });

    });
  </script>
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">Staff UI</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="../staff_gui.html">Match Creator</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="../score_adjustment.html">Score Adjustment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../ref_gui.html">Ref GUI</a>
      </li>
    </ul>
  </div>
  </nav>

  <div class="container">
    <div class="row container">
      <h1>Score Adjustment</h1>
    </div>


    <div class="text-center">
      <h3>Team: (#<span id="team-number"></span>) <span id="team-name"></span></h3>
      <h3> Team Score: <span id="team-score"></span></h3>
    </div>


    <div class="row bottom-padding">
      <div>
        <div class="input-group">
          <h3>Base time (seconds):</h3>
          <input type="number" class="form-control" id="score-adjustment">
          <span class="input-group-btn"><button class="btn btn-success" type="button" id="score-change">Change</button></span>
        </div>
      </div>
    </div>
    <div class="row bottom-padding">
      <div>
        <div class="input-group">
          <h3>Penalty time (seconds):</h3>
          <input type="number" class="form-control" id="penalty-adjustment">
          <span class="input-group-btn"><button class="btn btn-success" type="button" id="penalty-change">Change</button></span>
        </div>
      </div>
    </div>
    <div class="row bottom-padding">
      <div>
        <div class="input-group">
          <h3>Stamp time (seconds):</h3>
          <input type="number" class="form-control" id="stamp-adjustment">
          <span class="input-group-btn"><button class="btn btn-success" type="button" id="stamp-change">Change</button></span>
        </div>
      </div>
    </div>

    <a href="" id="log-toggle">Toggle log</a>
    <pre id="events-log" hidden></pre>
  </div>

</body>

</html>
