<html>

<head>
  <title>Staff UI</title>
  <script type="text/javascript" src={{url_for( 'static' , filename='jquery-1.12.3.min.js' )}}></script>
  <!-- <script type="text/javascript" src={{url_for( 'static' , filename='tabletop.js' )}}></script> -->
  <!-- <script type="text/javascript" src={{url_for( 'static' , filename='lcm_ws_bridge.js' )}}></script> -->
  <script type="text/javascript" src={{url_for( 'static' , filename='socket.io.js' )}}></script>
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script> -->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
  <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->

  <!-- Styles -->
  <style>
    /*Disables spinning on number forms*/

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }

    .bottom-padding {
      margin-bottom: 25px;
    }

    .form-inline {
      flex-flow: row;
    }

    .led-green,
    .heartbeat-light {
      width: 24px;
      height: 24px;
      background-color: #ABFF00;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
    }

    .led-red {
      width: 24px;
      height: 24px;
      background-color: #F00;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
    }
  </style>
  <script>
    $(document).ready(function () {

      var socket = io('http://127.0.0.1:5000');
      var match_num = "";
      var round_num = "";
      var team_num = "";
      var team_name = "";

      var custom_ip = "";

      function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') c = c.substring(1);
          if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
        }
        return "";
      }

      if (getCookie("match_num") != "") {
        match_num = parseInt(decodeURIComponent(getCookie("match_num")))
        blue_1_name = decodeURIComponent(getCookie("team_name"))
        blue_2_num = parseInt(decodeURIComponent(getCookie("team_num")))

        custom_ip = decodeURIComponent(getCookie("custom_ip"))
        setDefaultTeamsInfo()
      }

      socket.on('connect', function (data) {
        socket.emit('join', 'staff_gui');
      });

      $("#select-round").click(() => {
        match_num = $("#select-match-number").val();
        round_num = $("#select-round-number").val();
        console.log("populate button pressed");
        socket.emit('ui-to-server-teams-info-request', JSON.stringify({ "match_num": match_num, "round_num": round_num }));
      });

      $("#create-match").click(() => {
        setTeamsInfoVars()
        data = {
          "match_num": match_num,
          "team_num": team_num, "team_name": team_name,
          "custom_ip": custom_ip
        }
        socket.emit('ui-to-server-setup-match', JSON.stringify(data))
        document.cookie = "match_num=" + match_num
        document.cookie = "team_num=" + team_num
        document.cookie = "team_name=" + team_name

        document.cookie = "custom_ip" + custom_ip
      });

      socket.on('server-to-ui-teamsinfo', function (data) {
        console.log("server-to-ui-teams-info")
        parsed_data = JSON.parse(data)
        console.log(parsed_data)
        match_num = parsed_data.match_num
        console.log(match_num)
        round_num = parsed_data.round_num
        team_num = parsed_data.team_num
        team_name = parsed_data.team_name
        custom_ip = parsed_data.custom_ip // check if this is sent / used
        setDefaultTeamsInfo()
      });

      function setDefaultTeamsInfo() {
        $("#match-number").text(match_num);
        $("#round-number").text(round_num);
        $("#team-number").text(team_num);
        $("#team-name").text(team_name);
      }

      function setTeamsInfoVars() {
        match_num = $("#match-number").text();
        round_num = $("#round-number").text();
        team_num = $("#team-number").text();
        team_name = $("#team-name").text();
      }

      $("#submit-tinder").click(function () {
        var tinder = $("#tinder").val();
        socket.emit('ui-to-server-game-info', JSON.stringify({ "tinder": tinder }));
      });

      $("#submit-buttons").click(function () {
        var buttons = $("#buttons").val();
        socket.emit('ui-to-server-game-info', JSON.stringify({ "buttons": buttons }));
      });

      $("#round-start").click(function () {
        socket.emit('ui-to-server-start-next-stage');
      });

      /** $("#match-next-stage").click(function() {
         socket.emit('ui-to-server-start-next-stage')
     });**/

      /** $("#match-reset-stage").click(function() {
         socket.emit('ui-to-server-reset-stage')
     });**/

      $("#round-reset").click(function () {
        socket.emit('ui-to-server-reset-match');
      });

      socket.on('server-to-ui-connections', function (data) {
        parsed_data = JSON.parse(data);
        toggleConnection(parsed_data.robot_connection);
        // toggleBlue1(parsed_data.b_1_connection)
        // toggleBlue2(parsed_data.b_2_connection)
        // toggleGold1(parsed_data.g_1_connection)
        // toggleGold2(parsed_data.g_2_connection)
      });

      // Heartbeat
      function toggleHeartbeat(connected) {
        // TODO: add this div, copying other hb divs
        toggleLed($(".hb"), connected);
      }

      function toggleLed(lightObj, connected) {
        if (connected) {
          lightObj.toggleClass("led-red", false);
        } else {
          lightObj.toggleClass("led-red", true);
        }
      }
    });
  </script>
</head>

<body>

  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">Staff UI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="../staff_gui.html">Match Creator<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../score_adjustment.html">Score Adjustment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../stage_control.html">Stage Control</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container" style="max-width:1405px">

    <div class="row">
      <div class="btn-group bottom-padding" role="group" aria-label="...">
        <h3 id="match-number">Match #</h3>
        <h3 id="round-number">Round #</h3>
        <button type="button" class="btn btn-success" id="next-round"><span class="glyphicon glyphicon-play"
            aria-hidden="true"></span>Next Round</button>
        <button type="button" class="btn btn-success" id="next-match"><span class="glyphicon glyphicon-play"
            aria-hidden="true"></span>Next Match</button>
        <button type="button" class="btn btn-success" id="select-round"><span class="glyphicon glyphicon-play"
            aria-hidden="true"></span>Populate</button>
        <div class="form-group">
          <input type="number" class="form-control" id="select-match-number" style="width: 81px;" placeholder="Match #">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" id="select-round-number" style="width: 81px;" placeholder="Round #">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="btn-group bottom-padding" role="group" aria-label="...">
        <h3 id="team-number">Team Number</h3>
        <h3 id="team-name">Team Name</h3>
        <div class="form-group">
          <input type="number" class="form-control" id="tinder" style="width: 81px;" placeholder="Tinder">
        </div>
        <button type="button" class="btn btn-success" id="submit-tinder"><span class="glyphicon glyphicon-play"
            aria-hidden="true"></span>Submit Tinder</button>
        <div class="form-group">
          <input type="number" class="form-control" id="buttons" style="width: 81px;" placeholder="Buttons">
        </div>
        <button type="button" class="btn btn-success" id="submit-buttons"><span class="glyphicon glyphicon-play"
            aria-hidden="true"></span>Submit Buttons</button>
        <div class="form-group heartbeat-light hb"></div>
      </div>
    </div>

    <div class="row">
      <div class="btn-group bottom-padding" role="group" aria-label="...">
        <button type="button" class="btn btn-success" id="create-match"><span class="glyphicon glyphicon-play"
            aria-hidden="true"></span>Create Match</button>
        <button type="button" class="btn btn-success" id="round-start"><span class="glyphicon glyphicon-play"
            aria-hidden="true"></span>Start Round</button>
        <button type="button" class="btn btn-danger" id="round-reset"><span class="glyphicon glyphicon-fast-backward"
            aria-hidden="true"></span>Reset Round</button>

      </div>
    </div>
  </div>
</body>

</html>