{% extends 'base.html' %}
{% block head_content %}
<title>Staff UI</title>
<style>
  .bottom-padding {
    margin-bottom: 25px;
  }

  .form-inline {
    flex-flow: row;
  }

  .spaced {
    margin:5px;
  }

  .heartbeat-light {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: lightgrey;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #444444 0 -1px 9px;
  }
  .led-green {
    background-color: #ABFF00 !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px !important;
  }
  .led-red {
    background-color: #F00 !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px !important;
  }
</style>
<script>
  // this function is called when the page is loaded, from base.html
  // socket: the main socketio websocket
  // send: a function that sends a header through the socket, and also logs it
  function main_js_content(socket, send) {
    var robot_connected = false;
    var match_num = "";
    var round_num = "";
    var team_num = "";
    var team_name = "";
    var tinder = "";
    var buttons = "";
    var custom_ip = "";

    socket.on('connect', function (data) {
      socket.emit('join', 'staff_gui');
      send('get_round_info_no_args');
      send('get_biome');
      send('request_connections');
    });

    socket.on('teams_info', function (data) {
      parsed_data = JSON.parse(data);
      match_num = parsed_data.match_num;
      round_num = parsed_data.round_num;
      team_num  = parsed_data.team_num;
      team_name = parsed_data.team_name;
      tinder    = parsed_data.tinder;
      buttons   = parsed_data.buttons;
      if ($("#custom-ip-adjustment").val() === "") {
        custom_ip = parsed_data.custom_ip;
      }
      setDefaultTeamsInfo()
    });

    socket.on('stage', function (data) {
      data = JSON.parse(data);
      const biome = data.stage;
      updateBiome(biome);
    });

    function updateBiome(biome) {
      console.log(`updating biome to ${biome}`)
      $("#biome").text(biome);
    }
    
    function setDefaultTeamsInfo() {
      $("#select-match-number").val(match_num);
      $("#select-round-number").val(round_num);
      $("#team-number").val(team_num);
      $("#team-name").val(team_name);
      $("#tinder").val(tinder);
      $("#buttons").val(buttons);
      $("#custom-ip-adjustment").val(custom_ip);
    }

    function toggleHeartbeat(connected, message) {
      robot_connected = connected;
      const hbl = $("#heartbeat-light");
      if (connected == null) {
        hbl.toggleClass("led-green", false);
        hbl.toggleClass("led-red",  false);
      } else {
        hbl.toggleClass("led-green", connected);
        hbl.toggleClass("led-red",  !connected);
      }
      $("#heartbeat-message").text(message);
    }
    
    socket.on('robot_connection', function (data) {
      data = JSON.parse(data);
      const connected = data.connected;
      if (typeof data.team_num == 'undefined') {
        toggleHeartbeat(connected, "Not connected to any robot");
      } else if (data.team_num == team_num || true) {
        // the || true is a hotfix because sometimes people want to connect to the robot before submitting the match info
        // and we only have one robot anyway
        // in years with multiple robots, remove the || true
        toggleHeartbeat(connected, `Robot #: ${data.team_num} IP: ${data.custom_ip}`);
      }
    });
    
    socket.on('linebreak_info', function(data) {
      $("#linebreaks-info").text("Not working: " + JSON.parse(data).text);
    })

    $("#next-round").click(() => {
      if(round_num >= 3){
          round_num = 1;
          match_num++;
      } else {
          round_num++;
      }
      $("#select-match-number").val(match_num);
      $("#select-round-number").val(round_num);
      send('get_round_info', JSON.stringify({ "match_num": match_num, "round_num": round_num }));
    })

    $("#next-match").click(() => {
      send('reset_match');
    })

    $("#select-round").click(() => {
      match_num = parseInt($("#select-match-number").val());
      round_num = parseInt($("#select-round-number").val());
      if(isNaN(match_num) || isNaN(round_num)){ alert("invalid match or round number"); return; }
      send('get_round_info', JSON.stringify({ "match_num": match_num, "round_num": round_num }));
    });

    $("#create-match").click(() => {
      match_num = parseInt($("#select-match-number").val());
      round_num = parseInt($("#select-round-number").val());
      team_num = parseInt($("#team-number").val());
      team_name = $("#team-name").val();
      custom_ip = $("#custom-ip-adjustment").val();

      if(isNaN(match_num)) { alert("invalid match number"); return; }
      if(isNaN(round_num)) { alert("invalid round number"); return; }
      if(isNaN(team_num)) { alert("invalid team number"); return; }
      if(team_name === "") { alert("empty team name"); return; } 
      toggleHeartbeat(null, "awaiting connection");
      let data = {
          "match_num": match_num,
          "round_num": round_num,
          "team_num": team_num,
          "team_name": team_name,
      };
      if (custom_ip !== "") {
        data["custom_ip"] = custom_ip;
      }
      send('setup_match', JSON.stringify(data));
    });


    $("#submit-tinder").click(function () {
      let tinder = parseInt($("#tinder").val());
      if(isNaN(tinder)){ alert("invalid firewood"); return; }
      send('set_game_info', JSON.stringify({ "tinder": tinder }));
    });

    $("#submit-buttons").click(function () {
      let buttons = parseInt($("#buttons").val());
      if(isNaN(buttons)){ alert("invalid buttons"); return; }
      send('set_game_info', JSON.stringify({ "buttons": buttons }));
    });

    $("#round-start").click(function () {
      send('start_next_stage');
    });


    $("#round-reset").click(function () {
      send('reset_round');
    });
    
    $("#custom-ip-change").click(function () {
      let ip = $("#custom-ip-adjustment").val();
      if(ip == "") { alert("empty custom ip"); return; } 
      send('set_custom_ip', JSON.stringify({ "custom_ip": ip }));
      toggleHeartbeat(null, "awaiting connection");
    });

    $("#stop-robot").click(function () {
      if(robot_connected || confirm("Not connected to a robot. Try anyway?")) {
        send('robot_off', JSON.stringify({ "team_number": team_num }));
      }
    });

    $("#linebreaks-off").click(function () {
      send('linebreaks_off');
    });

    $("#linebreaks-on").click(function () {
      send('linebreaks_on');
    });
  }
</script>
{% endblock %}
{% block html_content %}


<a href="" onclick="event.preventDefault(); instructionsText.hidden = !instructionsText.hidden">Toggle instructions</a>
<div id="instructionsText" class="bottom-padding" style="white-space: pre-wrap;" hidden>
1) Fill in the current match #, then click "populate". This should fill in most of the information needed to create the match (you might need to wait for a few seconds). Alternatively, you can click the "+" button to increment the match # by 1 and populate.

2) Check the robot IPs, then click "connect" on all of them. Wait for the corresponding heatbeats to all turn green.

3) Correct any incorrect team info, then click "create round". This will move Shepherd into the setup state. If you need to correct any info while in setup, click "create round" again to save it.

4) Click "start round" to begin the game. If something goes wrong, click "reset round" to move Shepherd back into the setup state.
</div>

<div class="row">
    <div class="col">
      <div class="input-group bottom-padding">
        <div class="input-group-prepend">
            <span class="input-group-text" id="match-num">Match #</span>
        </div>
        <input type="number" class="form-control" id="select-match-number">
        <div class="input-group-btn">
            <button type="button" class="btn btn-success" id="next-round">+</button>
            <button type="button" class="btn btn-success" id="select-round">Populate</button>
        </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col" style="border:1px solid black; background: #F0F0FF">
        <h3>Blue Team 1</h3>
        <div class="input-group mb-1">
            Team #: <input type="number" class="form-control">
        </div>
        <div class="input-group mb-1">
            Team Name: <input type="text" class="form-control">
        </div>
        <div class="input-group mb-1">
            Generic Items: <input type="number" class="form-control">
        </div>
        <div class="input-group mb-1">
            IP:
            <input type="text" class="form-control custom-ip-adjustment" placeholder="0.0.0.0">
            <button class="btn btn-success" type="button">Connect</button> 
        </div>
        <div class="input-group mb-1">
            <span style="margin-right:5px">Heartbeat:</span> 
            <div class="heartbeat-light"></div>
            <span class="heartbeat-message"></span>
        </div>
    </div>
    <div class="col" style="border:1px solid black; background: #F0F0FF">
        <h3>Blue Team 2</h3>
        <div class="input-group mb-1">
            Team #: <input type="number" class="form-control">
        </div>
        <div class="input-group mb-1">
            Team Name: <input type="text" class="form-control">
        </div>
        <div class="input-group mb-1">
            Generic Items: <input type="number" class="form-control">
        </div>
        <div class="input-group mb-1">
            IP:
            <input type="text" class="form-control custom-ip-adjustment" placeholder="0.0.0.0">
            <button class="btn btn-success" type="button">Connect</button> 
        </div>
        <div class="input-group mb-1">
            <span style="margin-right:5px">Heartbeat:</span> 
            <div class="heartbeat-light"></div>
            <span class="heartbeat-message"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col" style="border:1px solid black; background: #FFFFF0">
        <h3>Gold Team 1</h3>
        <div class="input-group mb-1">
            Team #: <input type="number" class="form-control">
        </div>
        <div class="input-group mb-1">
            Team Name: <input type="text" class="form-control">
        </div>
        <div class="input-group mb-1">
            Generic Items: <input type="number" class="form-control">
        </div>
        <div class="input-group mb-1">
            IP:
            <input type="text" class="form-control custom-ip-adjustment" placeholder="0.0.0.0">
            <button class="btn btn-success" type="button">Connect</button> 
        </div>
        <div class="input-group mb-1">
            <span style="margin-right:5px">Heartbeat:</span> 
            <div class="heartbeat-light"></div>
            <span class="heartbeat-message"></span>
        </div>
    </div>
    <div class="col" style="border:1px solid black; background: #FFFFF0">
        <h3>Gold Team 2</h3>
        <div class="input-group mb-1">
            Team #: <input type="number" class="form-control">
        </div>
        <div class="input-group mb-1">
            Team Name: <input type="text" class="form-control">
        </div>
        <div class="input-group mb-1">
            Generic Items: <input type="number" class="form-control">
        </div>
        <div class="input-group mb-1">
            IP:
            <input type="text" class="form-control custom-ip-adjustment" placeholder="0.0.0.0">
            <button class="btn btn-success" type="button">Connect</button> 
        </div>
        <div class="input-group mb-1">
            <span style="margin-right:5px">Heartbeat:</span> 
            <div class="heartbeat-light"></div>
            <span class="heartbeat-message"></span>
        </div>
    </div>
</div>

<div class="row bottom-padding">
    <div class="col" style="border:1px solid black">
        <h3>Meta</h3>
        <div class="input-group">
            <span>Biome: <span id="biome">None</span></span>
        </div>
        <div class="btn-group bottom-padding" role="group" aria-label="...">
    <button type="button" class="btn btn-success spaced" id="linebreaks-off"><span class="glyphicon glyphicon-play"
        aria-hidden="true"></span>Linebreaks Off</button>
    <button type="button" class="btn btn-success spaced" id="linebreaks-on"><span class="glyphicon glyphicon-play"
        aria-hidden="true"></span>Linebreaks On</button>
      <span id="linebreaks-info">N/A</span>
  </div>
        
        
    </div>
</div>





<div class="row bottom-padding">
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-success spaced" id="create-match"><span class="glyphicon glyphicon-play"
        aria-hidden="true"></span>Create Round</button>
    <button type="button" class="btn btn-success spaced" id="round-start"><span class="glyphicon glyphicon-play"
        aria-hidden="true"></span>Start Round</button>
    <button type="button" class="btn btn-danger spaced" id="round-reset"><span class="glyphicon glyphicon-fast-backward"
        aria-hidden="true"></span>Reset Round</button>
  </div>
</div>


{% endblock %}

